<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>机器之芯 - 主页</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="./static/carousel.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
    <script src="./static/rootApp.js"></script>
</head>
<!-- NAVBAR
================================================== -->
<body ng-app="platformApp" ng-controller="platformCtrl">
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">机器之芯</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">主页</a></li>
                        <li><a href="demo.html">演示</a></li>
                        <li class="active"><a href="#">平台</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">关于我们 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">由上交、清华硕博组建的团队</a></li>
                                <li><a href="#">专注提供计算机视觉解决方案</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">联系方式</li>
                                <li><a href="#">QQ: 1172446959</a></li>
                                <li><a href="#">E-Mail: 1172446959@qq.com</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>浏览任务</h1>
                    <p>Seek Task</p>
                    <p>如果你是开发者，你可以在这个平台上浏览已发布的需求文档，寻找自己擅长的任务，并通过任务发布者留下的联系方式与其寻求合作。</p>
                    <p><a class="btn btn-lg btn-primary" href="#seekTask" role="button">快速浏览</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>发布任务</h1>
                    <p>Publish Task</p>
                    <p>如果你是需求方，你可以在这个平台上发布需求主题和项目细节，留下自己的联系方式，等待合适的开发人员接单并为你提供解决方案。</p>
                    <p><a class="btn btn-lg btn-primary" href="publish.html" role="button">立即发布</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>提供技术</h1>
                    <p>Offer Technology</p>
                    <p>如果你是开发者，你可以在这个平台上介绍自己擅长的技能和熟悉的领域，留下自己的联系方式，以便匹配合适的任务。</p>
                    <p><a class="btn btn-lg btn-primary" href="publish.html" role="button">快速提供</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>寻找技术</h1>
                    <p>Search Technology</p>
                    <p>如果你是需求方，你可以在这个平台上搜索开发人员的技能信息，了解他们各自能为你提供什么样的服务，然后与之寻求合作。</p>
                    <p><a class="btn btn-lg btn-primary" href="#searchTechnology" role="button">立即寻找</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <hr class="featurette-divider">

    <h2 class="sub-header" id="seekTask">浏览任务</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>主题</th>
                <th>作者</th>
                <th>时间</th>
                <th>手机</th>
                <th>邮件</th>
                <th>微信</th>
                <th>QQ</th>
            </tr>
            </thead>
            <tbody ng-controller="modalCtrl">
            <tr ng-repeat="topic in topics" ng-show="showTask(topic)">
                <td>{{ $index + 1 }}</td>
                <td ng-click="showDetail(topic)"><a>{{ topic.subject }}</a></td>
                <td>{{ topic.author }}</td>
                <td>{{ topic.updateTime }}</td>
                <td>{{ topic.authorMobile }}</td>
                <td>{{ topic.authorEmail }}</td>
                <td>{{ topic.authorWechat }}</td>
                <td>{{ topic.authorQQ }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="featurette-divider">

    <h2 class="sub-header" id="searchTechnology">寻找技术</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>主题</th>
                <th>作者</th>
                <th>时间</th>
                <th>手机</th>
                <th>邮件</th>
                <th>微信</th>
                <th>QQ</th>
            </tr>
            </thead>
            <tbody ng-controller="modalCtrl">
            <tr ng-repeat="topic in topics" ng-show="showTechnology(topic)">
                <td>{{ $index + 1 }}</td>
                <td ng-click="showDetail(topic)"><a>{{ topic.subject }}</a></td>
                <td>{{ topic.author }}</td>
                <td>{{ topic.updateTime }}</td>
                <td>{{ topic.authorMobile }}</td>
                <td>{{ topic.authorEmail }}</td>
                <td>{{ topic.authorWechat }}</td>
                <td>{{ topic.authorQQ }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
        <p class="pull-right">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; 2017 BrainOfMachine, Inc. &middot;
            <a href="#">简单易用、功能强大的人工智能引擎</a> &middot;
            <a href="#">面向需求方和开发者的免费开放平台</a>
        </p>
    </footer>


    <!-- modal template -->
    <script type="text/ng-template" id="myModelContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ topic.subject }}</h3>
        </div>
        <div class="modal-body" style="word-break: break-all; word-wrap: break-word">
            <p>{{ topic.detail }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确认</button>
        </div>
    </script>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
</body>

<script>
    var platformApp = angular.module('platformApp', ["rootApp", 'ui.bootstrap']);

    platformApp.controller('platformCtrl', function ($scope, $http) {
        $http.post(
                "findAllTopic.json",
                {}
        ).success(function (response) {
            $scope.respCode = response.respCode;
            $scope.topics = response.topics;
        });
    });

    platformApp.controller('modalCtrl', function ($scope, $modal, $log) {
        $scope.showTask = function (topic) {
            if (topic.authorType == 1) {
                return true;
            } else {
                return false;
            }
        };

        $scope.showTechnology = function (topic) {
            return !$scope.showTask(topic);
        };

        $scope.showDetail = function (topic) {
            var modalInstance = $modal.open({
                templateUrl: 'myModelContent.html',
                controller: 'ModalInstanceCtrl', // specify controller for modal
                size: '',
                resolve: {
                    topic: function () {
                        return topic;
                    }
                }
            });
            // modal return result
            modalInstance.result.then(function () {
            }, function () {
                $log.info('Modal dismissed at: ' + new Date())
            });
        }
    })
    // modal controller
            .controller('ModalInstanceCtrl', function ($scope, $modalInstance, topic) {
                $scope.topic = topic;
                // cancel click
                $scope.ok = function () {
                    $modalInstance.dismiss('cancel');
                }
            });
</script>

</html>